#content{
    width: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
}

#pass, #ticket{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#pass{
    height: calc(93vh - 40px)
}

#ticket{
    height: 100vh;
}

.card{
    background: #fff;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
    border: 3px solid #00BFFF;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 25vw;
    height: 70vh;
}

h1{
    font-size: 35px;
}

h2{
    margin-bottom: 30%;
}

span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    background-color: #3457D5;
    position: relative;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    top: 100;
}

.card:hover{
    background-color: #00BFFF;
    color: white;
}